 * {
  box-sizing: border-box;
  font-family: "Anton";
 }
 html {
  scroll-behavior: smooth;
}
/* pag inicio acomode - ACOMODAR DESPUES */

    .inicio{
      height: 100vh;
      font-size: 20px;
      color: rgb(255, 255, 255);
      background-color: black;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
    .image {
      max-width: 800px;
      height: auto;
    }

    .resaltado {
      color: brown;
    }

    .navbar-personalizado, .nav-link{
         background-color: #000000;
         color: #efdec0;
    }

    .nav-link:hover {
      color: rgb(127, 47, 47);
    }

  /* animacion */

  .escritura {
  font-family: "Bebas Neue";
  overflow: hidden;
  border-right: 2px solid rgb(0, 0, 0);
  white-space: nowrap;
  width: 0;
  animation: typing 3s steps(20, end) forwards, blink 0.7s step-end infinite;
  color: #1d0268; /* o el color que estés usando */
  font-size: 5rem;
  display: inline-block;


}

@keyframes typing {
  from { width: 0; }
  to { width: 15ch; } /* cantidad de caracteres a mostrar */
}

@keyframes blink {
  50% { border-color: transparent; }
}


.animacion-img {
  transition: transform 0.7s ease, opacity 0.4s ease;
}

.animacion-img.hovered {
  transform: scale(1.1);
  opacity: 0.9;
}


/* Tipografías */
.billy {
  font-family: "Bebas Neue";
  color: #1d0268; /* o el color que estés usando */
  font-size: 1.5em;

}

.autor{
  font-size: 6rem;
  color: rgba(9, 57, 129, 0.597);
}

h2{
  font-size: 4rem;
}

h3{
   font-family: "Bebas Neue";
  color: rgba(198, 198, 198, 0.831);
  font-size: 1.5rem;
}
.p-maquina {
  font-family: monospace;
  font-size: 1rem;
 
}

a{
  color: #a70e0e;
  text-decoration: underline;
}


.timeline h4 {
  font-family: 'Oswald', sans-serif;
  color: #3e0404;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.timeline p {
  font-family: monospace;
  font-size: 0.8rem;
  color: #a89f9f;
}

/* Línea de tiempo base */
.timeline {
  position: relative;
  margin: 3rem auto;
  padding: 2rem 1rem;
  max-width: 800px;
  border-left: 4px solid #000;
}

/* Cada ítem */
.timeline-item {
  position: relative;
  margin-bottom: 3rem;
  padding-left: 2rem;
}

/* Marcador en la línea */
.timeline-marker {
  position: absolute;
  top: 0;
  left: -10px;
  width: 20px;
  height: 20px;
  background-color: #bfbfbf;
  border: 3px solid #fff;
  border-radius: 50%;
  z-index: 1;
}

/* Contenido */
.timeline-content {
  background-color: #fefae0;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.img-timeline {
  border-radius: 5em;
  width: 100px;
}

.timeline-inner {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}


/* pruebas para seccion del libro */
.scroll-images {
  display: flex;
  flex-direction: column;
  height: 800vh; /* total de 3 imágenes */
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.image-slide {
  scroll-snap-align: start;
}


/* DIF ESTETICAS*/

.estetica01 {
  background-color: #f0e7ce; 
  color: #c52b17;
  font-family: "Anton", sans-serif;
}
.estetica02 {
   max-width: 700px;
  margin: 0 auto;
  box-shadow: 0 2px 16px rgba(0,0,0,0.08);
   background-color:#c52b17 ; 
   color: #f0e7ce;

}

.estetica03{
  background-color: black;
  background-image: url("../img/tranfalmadorianos.pinturas1.png");
  background-size: cover;
}



footer{
  color: rgb(87, 25, 14);
  text-align: center;
}


/* Estilos para la sección de frases */
.contenedor-frases {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10rem;
  padding: 5rem;
  margin: auto;
}

.frase-caja {
  background-color: #fcfcfc35;
  padding: 5rem;
  font-size: 1.3rem;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #e0e0e0;
  text-align: center;
}

.frase-caja:hover {
  transform: scale(1.02);
  color: #fdec06;
  text-shadow: 2 2 20px, rgba(0,0,0,0.08);
}


 .panel {
      display: flex;
      
      align-items: center;
   
      min-height: 100vh;
      padding: 4rem 2rem;
      position: relative;
      overflow: hidden;
    }

    .texto {
      max-width: 700px;
      margin-bottom: 2rem;
      text-align: center;
      animation: fadeIn 1.5s ease-in forwards;
      opacity: 0;
    }

    .texto h2 {
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }

    .texto p {
      font-size: 1.1rem;
      line-height: 1.6;
    }

    .imagen img {
      max-width: 90vw;
      max-height: 60vh;
      border-radius: 12px;
      box-shadow: 0 10px 25px rgba(0,0,0,0.1);
      transform: scale(0.95);
      transition: transform 1s ease;
    }

    .panel:hover .imagen img {
      transform: scale(1);
    }

    @keyframes fadeIn {
      from { opacity: 0; transform: translateY(40px); }
      to { opacity: 1; transform: translateY(0); }
    }

  /* juego */
  .juego-container {
    overflow: hidden;
    margin: 0;
    background-color: #000;
  }

  #intentos {
    color: #a70e0e;
    position: absolute;
    padding: 1rem;
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
  }

  #wrapped {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }

  #juego {
    height: 100vh;
    max-height: 700px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .carta {
    width: 200px ;
    height: 250px;
    margin: 1rem;
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }

  .carta.active {
    transform: rotateY(180deg);
  }

  .carta div {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 5px;
    display: flex;  
    align-items: center;
    justify-content: center;
    pointer-events: none;

  }

  .carta .boca-arriba {
    transform: rotateY(180deg);
  }

  .carta .boca-abajo {
    background-image: url("../img/boca-abajo.jpg");
    background-size: contain;
    transform: rotateY(0deg);
  }

 .carousel-inner img {
  width: 50%;
  height: 50%; /* o el alto que prefieras */
  border-radius: 12px; /* opcional, para bordes redondeados */
  
}

.texto a {
  color: #d0c7c7;
  text-decoration: underline;
}

.texto h1 {
  text-align: center;
  font-size: 5rem;
  color: rgba(9, 57, 129, 0.597);
  margin-bottom: 2rem;
}

.texto h3 {
  font-style: italic, sans-serif;
  text-align: center;
  color: rgb(71, 76, 77);
  font-size: 1rem;
  margin-bottom: 1rem;
}

.texto p {
  font-family: 'Anton', sans-serif;
   font-family: monospace;
  text-align: center;
  font-size: 0.8rem;
  color: rgb(0, 0, 0);
}


/* Estilos para la sección de hoster */
.hoster-container{
  background-image: url('../img/tranfalmadorianos.pinturas1.png');
  background-size: contain;
  height: 100vh;
}
.hoster-section {
  background-color: #131313b1; /* Color de fondo */
  padding: 2rem;
  margin: 2rem;
  border-radius: 12px;
}
.hoster-section img {
  max-width: 80%;
  height: auto;
  border-radius: 12px;
}

.texto-hoster h2{
  font-family: "Anton", sans-serif;
  color: rgba(106, 146, 205, 0.942);
  font-size: 3rem;
  margin-bottom: 1rem;
}
.texto-hoster p {
  font-family: monospace;
  text-align: center;
  color: #ffffff;  
  margin-top: 1rem;
}

/* Estilos para la sección de contacto */

.form-container{
  max-width: 600px;
  margin: 0 auto;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 8px rgb(21, 13, 13);
  color: #e0e0e0;
}
.form-row{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

/*estilos para la subpagina de billy*/

.billy-container {
  flex-direction: column;
  align-items: center;
  background-color: #f5f1eb;
  color: #c9c5c5;
  
}

.billy-inicio h1 {
  margin-top: 1rem;
  text-align: center;
  font-size: 7rem;
  color: #a03f31;
  margin-bottom: 1rem;
}

.division{
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}

.boton-saltar{
  display: inline-block;
  background-color: #8a944257;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  border-style: none;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  
}

#lineadetiempo nav a {
  margin: 3rem;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #b72435e4;
  color: #ffffff;
  padding: 1rem;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  transition: background-color 0.3s ease; 

}