 * {
  box-sizing: border-box;
  font-family: "Anton";
  font-style: normal;

 }
 html {
  scroll-behavior: smooth;
}
/* pag inicio acomode - ACOMODAR DESPUES */

    .inicio{
      height: 100vh;
      font-size: 20px;
      color: rgb(255, 255, 255);
      background-color: black;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
    .image {
      max-width: 800px;
      height: auto;
    }

    .resaltado {
      color: brown;
    }

    .navbar-personalizado, .nav-link{
         background-color: #000000;
         color: #efdec0;
    }

    .nav-link:hover {
      color: rgb(127, 47, 47);
    }

  /* animacion */

  .escritura {
  font-family: "Bebas Neue";
  overflow: hidden;
  border-right: 2px solid rgb(0, 0, 0);
  white-space: nowrap;
  width: 0;
  animation: typing 3s steps(20, end) forwards, blink 0.7s step-end infinite;
  color: #1d0268; /* o el color que estés usando */
  font-size: 5rem;
  display: inline-block;


}

@keyframes typing {
  from { width: 0; }
  to { width: 15ch; } /* cantidad de caracteres a mostrar */
}

@keyframes blink {
  50% { border-color: transparent; }
}


.animacion-img {
  transition: transform 0.7s ease, opacity 0.4s ease;
}

.animacion-img.hovered {
  transform: scale(2);
  opacity: 0.9;
}


/* Tipografías */
.billy {
  font-family: "Bebas Neue";
  color: #1d0268; /* o el color que estés usando */
  font-size: 1.5em;

}

.autor{
  font-size: 6rem;
  color: rgba(9, 57, 129, 0.597);
  
}

h2{
  font-size: 4rem;
}

h3{
   font-family: "Bebas Neue";
  color: rgba(198, 198, 198, 0.831);
  font-size: 1.5rem;
}
.p-maquina {
  font-family: monospace;
  font-size: 1rem;
 
}

a{
  color: #a70e0e;
  text-decoration: underline;
}


.timeline h4 {
  font-family: 'Oswald', sans-serif;
  color: #3e0404;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.timeline p {
  font-family: monospace;
  font-size: 0.8rem;
  color: #a89f9f;
}

/* Línea de tiempo base */
.timeline {
  position: relative;
  margin: 3rem auto;
  padding: 2rem 1rem;
  max-width: 800px;
  border-left: 4px solid #000;
}

/* Cada ítem */
.timeline-item {
  position: relative;
  margin-bottom: 3rem;
  padding-left: 2rem;
}

/* Marcador en la línea */
.timeline-marker {
  position: absolute;
  top: 0;
  left: -10px;
  width: 20px;
  height: 20px;
  background-color: #bfbfbf;
  border: 3px solid #fff;
  border-radius: 50%;
  z-index: 1;
}

/* Contenido */
.timeline-content {
  background-color: #fefae0;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.img-timeline {
  border-radius: 5em;
  width: 100px;
}

.timeline-inner {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}


/* pruebas para seccion del libro */
.scroll-images {
  display: flex;
  flex-direction: column;
  height: 800vh; /* total de 3 imágenes */
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.image-slide {
  scroll-snap-align: start;
}


/* DIF ESTETICAS*/

.estetica01 {
  background-color: #f0e7ce; 
  color: #c52b17;
  font-family: "Anton", sans-serif;
}
.estetica02 {
   max-width: 700px;
  margin: 0 auto;
  box-shadow: 0 2px 16px rgba(0,0,0,0.08);
   background-color:#c52b17 ; 
   color: #f0e7ce;

}



footer{
  color: rgb(87, 25, 14);
  text-align: center;
}